.success-page{
    width: 100%;
    min-height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
    padding-top: 6rem;
}
.success-page-box{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.success-page-box h2{
    color: green;
}
.success-page-box img{
    width: 350px;
}
.success-page-box p{
    max-width: 500px;
}
.success-page-box .row .btn-a:nth-child(1){
    background-color: var(--blue);
    color: white;
}
.success-page-box .row .btn-a:nth-child(2){
    background-color: rgb(5, 161, 5);
    color: white;
}