.admin-query-page{
    width: 100%;
    min-height: 100vh;
    background-color: black;
    padding:3rem 2rem;
}
.admin-query-page-header{
   margin: 3rem 0;
   border-radius: 8px;
    padding: 3rem 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 3rem;
    flex-wrap: wrap;
    background-color: rgb(83, 207, 245);
    color: white;
}
.admin-query-page-header-left{
    max-width: 50%;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.admin-query-page-header-left h1 span{
    color: black;
}
.admin-query-page-header-right img{
    width: 300px;
}
.admin-query-page .product-section-bottom{
    align-items: stretch;
}