.cart-item{
    width: 100%;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}
.cart-item img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.cart-item-quantity{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.cart-item-quantity .quantity-input{
    width: 50px;
    border: none;
    outline: none;
    padding: 0.2rem 0.2rem;
}
.cart-item-product-detail{
    width: 300px;
}

.cart-item-delete-screen{
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.198);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.dialog-box{
    padding: 2rem 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 8px;
}
.dialog-box .row .btn-a:nth-child(1){
    background-color: var(--blue);
    color: white;
}